@page "/residentes"
@inject IHttpServicio http

<PageTitle>Residentes</PageTitle>

<HeadContent>
    <meta name="description" content="Listado de residentes" />
</HeadContent>

<h3>Lista de Residentes</h3>

<a class="btn btn-primary" href="residentes/crear">Crear Residente</a>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Codigo Domicilio</th>
    </tr>

    @if (Error)
    {
        <tr>@Mensaje</tr>
    }
    else
    {
        @if (residentes == null)
        {
            <tr>Cargando....</tr>
        }
        else if (residentes.Count == 0)
        {
            <tr>no existen datos</tr>
        }
        else
        {
            @foreach (var item in residentes)
            {
                <tr>
                    <td>@item.nombre</td>
                    <td>@item.apellido</td>
                    <td>@item.DNI</td>
                    <td>@item.codigoDomicilio</td>
                    <td>
                        <a class="btn btn-primary"
                           href="residentes/editar/@item.id">
                            Editar
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-warning"
                        @onclick="()=>Eliminar(item)">
                            Borrar
                        </button>
                    </td>
                </tr>
            }
        }
    }
</table>
<Confirmacion @ref="confirmacion"
              verCancelar="true"
              verOk="true"
              textOk="Aceptar"
              Titulo="Borrar residente"
              onCancel="Cancelar"
              onConfirm="Borrar">
    <div>
        <h1>Está por borrar el residente @ResidenteBorrar.codigoDomicilio</h1>
        <br />
        ¿Está seguro que desea continuar?
    </div>
</Confirmacion>

@code {
    Confirmacion confirmacion;

    List<Residente>? residentes;
    bool Error = false;
    string Mensaje = "";
    Residente ResidenteBorrar;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        residentes = null;
        var respuesta = await http.Get<List<Residente>>("api/Residentes");
        Error = respuesta.Error;
        if (!respuesta.Error)
        {
            residentes = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        ResidenteBorrar = null;
    }

    private async Task Eliminar(Residente resBorrar)
    {
        ResidenteBorrar = resBorrar;
        confirmacion.Ver();
    }

    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/Residentes/{ResidenteBorrar.id}");
        if (respuesta.Error)
        {
            var body = "error no se pudo borrar";
        }
        Cancelar();
        await Leer();
    }

}
